#body{
            text-align: center;
            background-image: url("tengen_toppa_gurren_lagann.jpg");
            background-size: 1750px 850px;
            
        }
table{
                margin-top: 100px;
                background-image: url("fuego.gif");
          

               
        }